*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #06131f;
    height: 100px;
    padding-left: 80px;
}
main{
    padding-top: 50px;
    background-color: #1d2d3c;
}
header img{

    height: 50px;
    width: 50px;
}
h5{
    font-size: medium;
    font-weight: 600;
}
p{
    font-size: small;
}
.card{
    background-color: #112030;
    color: white
}